a
/* --------------profile-page-------------- */

img.coverImage {
    overflow: hidden;
    width: 100%;
    border-radius: 6px;
    margin-bottom: 20px;
}

.profile-container {
    padding: 20px 15%;
    color: #626262;
}

.left-dashboard {
    display: flex;
    align-items: center;
}

.left-dashboard .dashboard-img {
    width: 100px;
    height: 100px;
    margin-right: 15px;
    border-radius: 50px;
}

.dashboard {
    padding: 15px;
    background-image: url("https://bienthuy.com/bienthuy-img/2020/02/hinh-nen-girl-xinh-4k-cho-laptop22-scaled.jpg") ;
    justify-content: space-between;
    display: flex;
    border-radius: 5px;
}

.mutual-friend-images img {
    width: 25px;
    border-radius: 50%;
}

.left-dashboard-info h3 {
    font-size: 25px;
}

.left-dashboard-info p {
    font-size: 13px;
    margin-bottom: 12px;
}

.right-dashboard-info-top {
    display: flex;
    align-items: center;
}

.right-dashboard-info-top button,
.right-div-single-logo {
    padding: 5px;
    border-radius: 5px;
    margin-left: 8px;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.right-dashboard-info-top button:nth-child(2) {
    background: #1876f2;
    color: white;
}

.right-div-single-logo {
    align-self: end;
    font-size: 18px;
    margin-top: 16px;
    padding: 2px 16px;
    background: #EFEFEF;
}

.right-dashboard-info {
    display: flex;
    flex-direction: column;
}

.container1.content-profile-container {
    padding: 25px 0px;
}

.left-sidebar.profile-left-sidebar {
    flex-basis: 32%;
}

.content-area.profile-content-area {
    flex-basis: 65%;
}

.left-profile-sidebar-top {
    background: var(--bg-color);
    padding: 15px 15px 30px 15px;
    border-radius: 5px;
}

.intro-bio h4 {
    font-weight: 600;
    font-size: 18px;
}

.intro-bio p {
    font-size: 16px;
    text-align: center;
    margin: 5px;
}

.intro-bio i {
    color: rgb(255, 196, 0);
}

.intro-bio hr {
    border: 0px;
    margin: 20px auto;
    height: 1px;
    background: #ccc;
}

.background-details a {
    display: flex;
    color: #636362;
    text-decoration: none;
    font-size: 15px;
    align-items: center;
    margin-top: 20px;
}

.background-details a i {
    margin-right: 10px;
}
.left-profile-sidebar-top.gallery{
    margin-top:18px
}
.gallery-photos-rowFirst {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.gallery-photos-rowFirst img {
    width: 100%;
    border-radius: 10px;
}
.gallery-photos-rowFirst div p {
    font-size: 14px;
}